@value (
  color-brand-white,
  color-brand-grey,
  color-brand-highlight,
  device-tablet,
  font-family-headline,
  font-size-large,
  font-size-medium,
  font-size-xlarge
) from '../../theme.css';

.Brand {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-family: font-family-headline;
  background: color-brand-grey;

  & .Words {
    font-weight: 500;
    color: color-brand-highlight;

    & span {
      color: color-brand-white;
    }
  }

  & .Suffix {
    text-align: 'center';
    color: color-brand-white;
  }
}

.Collapsed {
  & * {
    animation: none;
  }
}

.SizeL {
  & .Words {
    font-size: font-size-xlarge;
  }

  & .Suffix {
    font-size: font-size-large
  }
}

.SizeS {
  & .Words {
    font-size: font-size-medium;
  }

  & .Suffix {
    font-size: font-size-medium
  }
}

@media only screen and (max-width: device-tablet) {
  .SizeL {
    & .Words {
      font-size: font-size-large;
    }

    & .Suffix {
      font-size: font-size-medium
    }
  }
}
